div form div button {
  border-radius: 5px;
}

div form div button:nth-child(n + 2) {
  background-color: #004b40;
  color: #f2f2f2;
}

div form div button:nth-child(1) {
  background-color: #f2f2f2;
  color: #004b40;
}

div form div button:nth-child(n + 3) {
  display: none;
}

.container {
  justify-content: center;
  display: grid;
  margin-top: 30px;
}

.actual {
  background-color: transparent;
  border-radius: 5px;
  color: #004b40;
}

.form-filter label {
  display: grid;
  margin-bottom: 20px;
  position: relative;
  z-index: 1;
}

.form-filter input {
  background-color: #f2f2f2;;
  border-left: none;
  border-right: none;
  border-top: none;
  margin-bottom: 20px;
  padding: 10px;
}

.form-filter button {
  font-size: larger;
  margin-right: 20px;
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
}

.form-filter div {
  justify-content: first baseline;
  float: left;
  height: auto;
  width: 50%;
}

.main-paginator {
  background-color: white;
  cursor: default;
  display: flex;
  justify-content: end;
  padding-bottom: 15px;
  padding-top: 15px;
  width: 100%;
}

.paginator {
  color: #1eeb00;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-left: 10px;
  margin-right: 30px;
  padding-bottom: 6px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 6px;
}

@media (max-width: 370px)  {
  .form-filter {
    margin: auto;
    width: 300px;
  }

  .form-filter {
    display: grid;
  }
}

@media (max-width: 700px)  {
  .form-filter {
    margin: auto;
    width: 500px;
  }

  .form-filter {
    display: grid;
  }
  .btn-filter {
    margin-bottom: 20px;
    width: 100%;
  }
}
