img {
  height: 50%;
  margin-top: 20px;
}

nav {
  background-color: #004b40;
  height: 80px;
  padding-left: 30px;
  width: 100%;
  z-index: 1;
}

nav * {
  left: 0%;
  top: 50%;
  margin-left: 30px;
  color: white;
  float: left;
}

nav div {
  margin-left: 50px;
}

.gg-menu {
  /* This value will multiple the actual size  */
  --ggs: 2;
}
