<div class="container">
  <section class="sidebar">
    <h1 class="section1">Bienvenido a la herramienta de registro Coink!</h1>
    <img class="section" src="../../../../assets/img1-coink.png" alt="">
    <article class="section1">
      <h3>Coink para tu dia a dia. </h3>
      <h3>Empieza ahorrando y cumple tus sueños con propósito</h3>
    </article>
    <img class="section" src="../../../../assets/img2-coink.png" alt="">
  </section>
  <section class="login-form">
    <div class="box register">
      <p>¿Aún no tienes cuenta?</p>
      <a href="">Registrate ahora</a>
    </div>
    <form class="box">
      <h1>Iniciar sesión en Coink</h1>

      <div>

        <label for="correo">Correo Electrónico</label>
        <input type="text" placeholder="Correo electrónico">
      </div>

      <div>

        <label for="correo">Contraseña</label>
        <input type="text" placeholder="Contraseña">
      </div>

      <a class="button" (click)="goDashboard()">Iniciar sesión</a>
    </form>
    <div class="register">
      <a href="">¿Olvidaste tu Contraseña?</a>
    </div>
  </section>
</div>
