<div class="container">
  <section class="sidebar">
    <h1 class="section1">Bienvenido a la herramienta de registro Coink!</h1>
    <img class="section" src="../../../../assets/img1-coink.png" alt="">
    <article class="section1">
      <h3>Coink para tu dia a dia. </h3>
      <h3>Empieza ahorrando y cumple tus sueños con propósito</h3>
    </article>
    <img class="section" src="../../../../assets/img2-coink.png" alt="">
  </section>
  <section class="login-form">
    <div class="box register">
      <p>¿Aún no tienes cuenta?</p>
      <a href="">Registrate ahora</a>
    </div>
    <form class="box" [formGroup]="formLogin">
      <h1>Iniciar sesión en Coink</h1>

      <div>
        <label for="correo">Correo Electrónico</label>
        <input type="text" placeholder="Correo electrónico" formControlName="email">
        <section *ngIf="formLogin.get('email')?.errors && (formLogin.get('email')?.dirty || formLogin.get('email')?.touched)">
          <small severity="error" *ngIf="formLogin.get('email')?.hasError('required')">
            Correo electrónico es requerido.
          </small>
          <small *ngIf="formLogin.get('email')?.hasError('minlength')">
            El correo electrónico debe tener al menos 20 caracteres.
          </small>
          <small *ngIf="formLogin.get('email')?.hasError('pattern')">
            Formato de correo electrónico incorrecto
          </small>
        </section>
      </div>
      <div>
        <label for="correo">Contraseña</label>
        <input type="text" placeholder="Contraseña" formControlName="password">
        <section *ngIf="formLogin.get('password')?.errors && (formLogin.get('password')?.dirty || formLogin.get('password')?.touched)">
          <small severity="error" *ngIf="formLogin.get('password')?.hasError('required')">
            Contraseña es requerida.
          </small>
          <small *ngIf="formLogin.get('password')?.hasError('minlength')">
            La contraseña debe tener al menos 20 caracteres.
          </small>
          <small *ngIf="formLogin.get('password')?.hasError('pattern')">
            Por favor digita solo letras, numeros y # . -.
          </small>
        </section>
      </div>

      <a class="button" (click)="goDashboard()">Iniciar sesión</a>
    </form>
    <div class="register">
      <a href="">¿Olvidaste tu Contraseña?</a>
    </div>
  </section>
</div>
